<% if @current_user %>
  <%= link_to "Sign Out", logout_path,  'data-turbo-method': :delete %>
<% else %>
  <p><%= link_to "Sign up", sign_up_path %></p>
  <p><%= link_to "Sign in", sign_in_path %></p>
<% end %>