<h1>Products</h1>

<% @products.each do |product| %>
  <%= product.title %>
  <%= product.price %>
  <p><%= link_to "Show this product", product %></p>
<% end %>

<%= link_to "New product", new_product_path %>